
body{
	background: url(../images/pic.png) repeat;
	height:100%;
	width:100%;

}


	


img{
	width:50%;
	height:50%;
	float:left;
	box-sizing:border-box;
	border-style:solid;
	border-color:blue ;
	border-width:5px;
	padding: 5% 5%;
}

